.circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


.dot {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  animation: circleBounceDelay 1.2s infinite ease-in-out both;
}

.child:nth-child(2) {
  transform: rotate(30deg);

  & .dot {
    animation-delay: -1.1s;
  }
}

.child:nth-child(3) {
  transform: rotate(60deg);

  & .dot {
    animation-delay: -1s;
  }
}

.child:nth-child(4) {
  transform: rotate(90deg);

  & .dot {
    animation-delay: -0.9s;
  }
}

.child:nth-child(5) {
  transform: rotate(120deg);

  & .dot {
    animation-delay: -0.8s;
  }
}

.child:nth-child(6) {
  transform: rotate(150deg);

  & .dot {
    animation-delay: -0.7s;
  }
}

.child:nth-child(7) {
  transform: rotate(180deg);

  & .dot {
    animation-delay: -0.6s;
  }
}

.child:nth-child(8) {
  transform: rotate(210deg);

  & .dot {
    animation-delay: -0.5s;
  }
}

.circle .child:nth-child(9) {
  transform: rotate(240deg);

  & .dot {
    animation-delay: -0.4s;
  }
}

.circle .child:nth-child(10) {
  transform: rotate(270deg);

  & .dot {
    animation-delay: -0.3s;
  }
}

.circle .child:nth-child(11) {
  transform: rotate(300deg);

  & .dot {
    animation-delay: -0.2s;
  }
}

.circle .child:nth-child(12) {
  transform: rotate(330deg);

  & .dot {
    animation-delay: -0.1s;
  }
}

@keyframes circleBounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
