.cube {
  width: 40px;
  height: 40px;
  margin: 40px auto;
}

.square {
  width: 33%;
  height: 33%;
  float: left;
  animation: sk-cubeGridScaleDelay 1.2s infinite ease-in-out;
  animation-delay: 0.2s;
}

.square:nth-child(2) {
  animation-delay: 0.3s;
}

.square:nth-child(3) {
  animation-delay: 0.4s;
}

.square:nth-child(4) {
  animation-delay: 0.1s;
}

.square:nth-child(5) {
  animation-delay: 0.2s;
}

.square:nth-child(6) {
  animation-delay: 0.3s;
}

.square:nth-child(7) {
  animation-delay: 0.0s;
}

.square:nth-child(8) {
  animation-delay: 0.1s;
}

.square:nth-child(9) {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
