.svg {
  display: inline-flex;
  vertical-align: bottom;

  & svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    fill: currentColor;
  }
}

.responsive {
  position: relative;
  height: 0;

  & svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
