import React from 'react';
import { shallow } from 'enzyme';
import {{component}} from '.';

/**
 * @test { {{~component~}} }
 */
describe('The `{{component}}` component', () => {

  test('has a failing test', () => {
    const wrapper = shallow(
      <{{component}}/>
    );
    const actual = wrapper.html();
    const expected = null;

    expect(actual).toBe(expected);
  });

});
